@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  background: #e7e1da;
}

body {
  background: #e7e1da;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

/* Books List */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.divBooksImage {
  background-image: url("../../public/image-error.svg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .divBooksImage:hover {
    cursor: pointer;
    filter: brightness(115%);
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    -webkit-filter: brightness(115%);
  }
}



.divModalImage {
  background-image: url("../../public/image-error.svg");
  background-size: cover;
  background-position: center;
}

.divReadingList {
  background-color: #57534e;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.125rem;
  color: white;
  transition: background-color 0.6s ease-in-out;
  -webkit-transition: background-color 0.6s ease-in-out;
  -moz-transition: background-color 0.6s ease-in-out;
  -ms-transition: background-color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .divReadingList:hover {
    cursor: pointer;
    background-color: rgb(229, 74, 74);
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
  }
}


.divReadingListSaved {
  background-color: #4e914c;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.125rem;
  color: white;
  transition: background-color 0.6s ease-in-out;
  -webkit-transition: background-color 0.6s ease-in-out;
  -moz-transition: background-color 0.6s ease-in-out;
  -ms-transition: background-color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out;
}


@media (hover: hover) and (pointer: fine) {
  .divReadingListSaved:hover {
    cursor: pointer;
    background-color: #427a40;
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
  }
}

/* Icons */
.searchIconLink div svg {
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .searchIconLink:hover div svg {
    transform: scale(115%);
    transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    -webkit-transform: scale(115%);
    -moz-transform: scale(115%);
    -ms-transform: scale(115%);
    -o-transform: scale(115%);
  }
}

.heartIconLink div svg {
  transition: fill 0.6s ease-in-out;
  -webkit-transition: fill 0.6s ease-in-out;
  -moz-transition: fill 0.6s ease-in-out;
  -ms-transition: fill 0.6s ease-in-out;
  -o-transition: fill 0.6s ease-in-out;
}


@media (hover: hover) and (pointer: fine) {
  .heartIconLink:hover div svg {
    fill: #ff7c7c;
    transition: fill 0.1s ease-in-out;
    -webkit-transition: fill 0.1s ease-in-out;
    -moz-transition: fill 0.1s ease-in-out;
    -ms-transition: fill 0.1s ease-in-out;
    -o-transition: fill 0.1s ease-in-out;
  }

  .xIcon:hover {
    cursor: pointer;
  }

  .xIcon:hover path {
    stroke: rgb(225, 0, 0);
  }
}

.searchIconLink {
  border-radius: 999px;
  place-self: center;
  -webkit-tap-highlight-color: rgba(0, 115, 255, 0.5);
  touch-action: manipulation;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.heartIconLink {
  border-radius: 999px;
  place-self: center;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.5);
  touch-action: manipulation;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #aa9887;
}

::-webkit-scrollbar-thumb {
  background-color: #837360;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b657e;
}

/* Media Queries */
@media only screen and (max-width: 855px) {
  .divModalParent {
    height: 100%;
  }

  .divModal {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  .divModalImageParent {
    margin-top: 120px;
  }

  .divModalImage {
    margin-bottom: 30px;
  }

  .xIconModal {
    position: fixed;
    margin-top: 80px;
    font-size: 2rem;
  }

  .detailsDivParent {
    height: 100%;
    margin-bottom: 50px;
  }

  .detailsDiv {
    overflow-y: auto;
    overflow: visible;
  }
}